body {
  text-align: center;
  background-color: lightskyblue;
}
h1 {
  font-size: 40px;
  color: black;
}

a {
  font-size: 35px;
  color: darkmagenta;
  text-decoration: none;
  background-color: lavender;
}
a:hover {
  color: blue;
}
